{% extends 'base.html.twig' %}

{% block title %}Nouveau Lieu{% endblock %}

{% block body %}
    <h1>Créer nouveau Lieu</h1>

    {{ include('lieu/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('lieu_index') }}">retour à la liste</a>
{% endblock %}
