{% extends 'base.html.twig' %}

{% block title %}Nouveau Campus{% endblock %}

{% block body %}
    <h1>Créer un nouveau Campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('campus_index') }}">retour à la liste</a>
{% endblock %}
