
.login{

    display: flex;
    align-items: center;
    justify-content: center;

}
.login div {
    margin-top:7%;
    margin-bottom: 7%;
    width: 25%;
    height: 25%;


}
#btn{
    background-color: forestgreen;
    width: 120px;
    margin-top: 20px;
    margin-left: 30%;
}
#title{

    margin-left: 90px;
}
#img{
    height: 50px;
    width: 50px;
}


.id2 label{
    width: 400px;


}
h1{
    margin-left: 30%;
    font-family:Forte;
}


#btn2 ,#btn1{

    background-color: orange;
    font-family:Forte;
    margin-left: 120px;
    width: 100px;
}
#btn1{
    background-color: forestgreen;
    margin-right: 10px;
    margin-left: 120px;
    font-family:Forte;
}
#h{
    font-size: large;
    font-family: "Arial Black";
    margin-left: 80%;
}
