body {
    background-color: #999999;
}
.table ,th, td {
    border: 2px solid black;
    color: crimson;
    font-size: larger;
}
.form{
    margin-left: 0;
    display: flex;
    align-content: center;
}
.form div {
    width: 200px;
    height: 10%;
    font-weight: bold;
}
.btn {
    background-color: royalblue;
    width: 100px;
    margin-left: 0;
}
.form2 {
    margin-left: 0;
    display: flex;
    align-content: center;
}
.form2 div {
    width: 150px;
    height: 10%;
    font-weight: bold;
}
.form3 {
    margin-left: 0;
    display: flex;
    align-content: center;
}
.form3 div {
    width: 200px;
    font-weight: bold;
}