{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie{% endblock %}

{% block body %}
    <h1>Créer nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}">retour à la liste</a>
{% endblock %}
